<button type="button" class="btn btn-primary my-3" (click)="habilitar =(habilitar==true)? false:true">{{habilitar==true ? 'Ocultar':'Mostrar'}}</button>

<div class="card">
    <div class="card-head">
        LISTADO DE CURSOS
    </div>
    <ul class="list-group"*ngIf="habilitar == true">
        <li class="list-group-item"><h5>TypeScript</h5></li>
        <ul class="list-group">
            <li class="list-group-item"*ngFor="let temas of listaTemasTS">{{temas}}</li>
        </ul>

        <li class="list-group-item"><h5>JavaScript</h5></li>
        <ul class="list-group">
            <li class="list-group-item"*ngFor="let temas of listaTemasJS">{{temas}}</li>
        </ul>

        <li class="list-group-item"><h5>C#</h5></li>
        <ul class="list-group">
            <li class="list-group-item"*ngFor="let temas of listaTemasC">{{temas}}</li>
        </ul>
    </ul>
</div>